.navbar-brand img { height: 50px;}

.justify-content-end { font-weight: 700;}

.c-space { margin-top: 100px;}

.carousel-indicators li { 
    background-color: orange;
    height: 5px;
    border-radius: 40%;
}

.flot-right { float: right;}

.card {
    border: none;
    box-shadow: 5px 5px 50px #f2f2f2;
    text-align: center;
}

.card p { color: gray;}

hr { border-color: #fff;}

.row .col-md-3 img {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #f2f2f2;
}

.cat-img {
    width: 100%;
}

a {
    color: orange;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}